/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  width:100%;
}

/* Navigation links */
.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 19px 13px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: right;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 2px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: red;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-top: 10px;
  float:left;
  width:300px;
  height:300px;
 background-color:grey;
 padding:10px;
}
h1{
	float:right;
	width:60%;
	height:30%;
	text-align:center;
	color:red;
	margin:2px;
  font-size: 30px;
  word-break: break-all;
  text-align:center;
  padding:0px;
  color:green;
  background-color:skyblue;

}
section{
	background-color:;
}
* {
  box-sizing: border-box;
}



/* Center website */
.main {
  max-width: 1400px;
  margin: auto;
  color:green;

  background-color:orange;
}
  
}

h2 {
  font-size: 50px;
  word-break: break-all;
  text-align:;
  padding:10px;
  color:green;
  background-color:;
  font:;
  
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.footer{
	backgrond-color:blue;
	float:center;
	margin:20px;
	padding:20px;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}


/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* snap chat */
.fa-snap chat {
  background: yellow;
  color: white;
}
/* google */
.fa-google {
  background: yellow;
  color: white;
}
